/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 *
 * Ported from a QMK keymap.c (German ISO Corne Choc Pro, LAYOUT_split_3x6_3_ex2).
 *
 * Layer order (fixed for ZMK priority stack):
 *   0 base, 1 base_ios, 2 sym, 3 uml, 4 sym_ios, 5 uml_ios,
 *   6 nav, 7 mac_mods, 8 settings
 *
 * --- Windows / iPad switching ---
 * BT profile 2 is the iPad; profiles 0, 1, 3, 4 are treated as Windows.
 * Selecting a profile in SETTINGS automatically:
 *   - switches default base layer: 0 for Windows, 1 for iPad
 *   - turns mac_mods (layer 7) on for iPad, off for Windows
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    chosen {
        zmk,physical-layout = &default_layout;
    };
};

/ {
    behaviors {
        tog_on: toggle_layer_on_only {
            compatible = "zmk,behavior-toggle-layer";
            #binding-cells = <1>;
            display-name = "Toggle Layer On";
            toggle-mode = "on";
        };

        tog_off: toggle_layer_off_only {
            compatible = "zmk,behavior-toggle-layer";
            #binding-cells = <1>;
            display-name = "Toggle Layer Off";
            toggle-mode = "off";
        };
    };

    macros {
        settings_enter: settings_enter {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&rgb_ug RGB_ON>, <&tog 8>;
        };

        settings_exit: settings_exit {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&rgb_ug RGB_OFF>, <&tog 8>;
        };

        ralt_tap: ralt_tap {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            wait-ms = <15>;
            tap-ms = <15>;
            bindings
                = <&macro_press &kp RALT>
                , <&macro_param_1to1>
                , <&macro_tap &kp MACRO_PLACEHOLDER>
                , <&macro_release &kp RALT>
                ;
        };

        lalt_tap: lalt_tap {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            wait-ms = <15>;
            tap-ms = <15>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_param_1to1>
                , <&macro_tap &kp MACRO_PLACEHOLDER>
                , <&macro_release &kp LALT>
                ;
        };

        lalt_shift_tap: lalt_shift_tap {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            wait-ms = <15>;
            tap-ms = <15>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_press &kp LSHFT>
                , <&macro_param_1to1>
                , <&macro_tap &kp MACRO_PLACEHOLDER>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp LALT>
                ;
        };

        bt_prof0: bt_prof0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 0>, <&rgb_ug RGB_OFF>, <&to 0>, <&tog_off 7>;
        };

        bt_prof1: bt_prof1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 1>, <&rgb_ug RGB_OFF>, <&to 0>, <&tog_off 7>;
        };

        bt_prof2: bt_prof2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 2>, <&rgb_ug RGB_OFF>, <&to 1>, <&tog_on 7>;
        };

        bt_prof3: bt_prof3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 3>, <&rgb_ug RGB_OFF>, <&to 0>, <&tog_off 7>;
        };

        bt_prof4: bt_prof4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 4>, <&rgb_ug RGB_OFF>, <&to 0>, <&tog_off 7>;
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";

        combo_settings_layer {
            timeout-ms = <50>;
            key-positions = <0 43>;
            bindings = <&settings_enter>;
            // Added layer 7 (mac_mods) so the combo still triggers when iPad profile is active
            layers = <0 1 7 8>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            display-name = "BASE";
            bindings = <
                &kp TAB   &kp Q &kp W &kp E &kp R &kp T &kp LGUI    &kp PSCRN &kp Y &kp U &kp I     &kp O   &kp P    &kp BSPC
                &kp LCTRL &kp A &kp S &kp D &kp F &kp G &kp DEL     &kp DEL   &kp H &kp J &kp K     &kp L   &kp NUHS &kp MINUS
                &kp LSHFT &kp Z &kp X &kp C &kp V &kp B                      &kp N &kp M &kp COMMA &kp DOT &kp FSLH &kp RSHFT
                                      &kp LALT &sl 6 &kp SPACE               &kp RET &sl 3 &sl 2
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp PG_UP PG_DN &inc_dec_kp C_PREV C_NEXT &inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        base_ios_layer {
            display-name = "BASE_iOS";
            bindings = <
                &kp TAB   &kp Q &kp W &kp E &kp R &kp T &kp LGUI    &kp PSCRN &kp Y &kp U &kp I     &kp O   &kp P    &kp BSPC
                &kp LCTRL &kp A &kp S &kp D &kp F &kp G &kp DEL     &kp DEL   &kp H &kp J &kp K     &kp L   &kp NUHS &kp MINUS
                &kp LSHFT &kp Z &kp X &kp C &kp V &kp B                      &kp N &kp M &kp COMMA &kp DOT &kp FSLH &kp RSHFT
                                      &kp LALT &sl 6 &kp SPACE               &kp RET &sl 5 &sl 4
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp PG_UP PG_DN &inc_dec_kp C_PREV C_NEXT &inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        sym_layer {
            display-name = "SYM";
            bindings = <
                &trans &kp F1     &kp F2     &kp F3     &kp F4     &kp F5     &none          &none          &kp F6      &kp F7      &kp F8      &kp F9      &kp F10     &trans
                &trans &kp LS(N1) &kp LS(N2) &kp LS(N3) &kp LS(N4) &kp LS(N5) &none          &none          &kp LS(N6)  &kp LS(N7)  &kp LS(N8)  &kp LS(N9)  &kp LS(N0)  &none
                &trans &ralt_tap NUBS &none  &kp NUBS   &kp LS(NUBS) &none                      &ralt_tap N7 &ralt_tap N0 &ralt_tap N8 &ralt_tap N9 &none       &trans
                                      &trans &none &trans                     &trans &none &none
            >;
        };

        uml_layer {
            display-name = "UML";
            bindings = <
                &trans &ralt_tap Q &none &ralt_tap E   &none         &none  &none          &none          &none        &kp LBKT     &none        &kp SEMI &none  &trans
                &trans &kp SQT    &none  &kp LS(GRAVE) &kp GRAVE     &none  &none          &none          &none        &ralt_tap MINUS &ralt_tap RBKT &none  &none  &none
                &trans &none      &none  &kp EQUAL     &kp LS(EQUAL) &none                     &none        &ralt_tap M  &none        &none    &none  &trans
                                      &trans &none &trans                     &trans &none &none
            >;
        };

        sym_ios_layer {
            display-name = "SYM_iOS";
            bindings = <
                &trans &kp F1     &kp F2     &kp F3     &kp F4     &kp F5     &none          &none          &kp F6      &kp F7      &kp F8      &kp F9      &kp F10     &trans
                &trans &kp LS(N1) &kp LS(N2) &kp LS(N3) &kp LS(N4) &kp LS(N5) &none          &none          &kp LS(N6)  &kp LS(N7)  &kp LS(N8)  &kp LS(N9)  &kp LS(N0)  &none
                &trans &lalt_tap N7 &none  &kp NUBS   &kp LS(NUBS) &none                      &lalt_tap N8 &lalt_tap N9 &lalt_tap N5 &lalt_tap N6 &none       &trans
                                      &trans &none &trans                     &trans &none &none
            >;
        };

        uml_ios_layer {
            display-name = "UML_iOS";
            bindings = <
                &trans &lalt_tap L &none &lalt_tap E   &none         &none  &none          &none          &none        &kp LBKT     &none        &kp SEMI &none  &trans
                &trans &kp SQT    &none  &kp LS(GRAVE) &kp GRAVE     &none  &none          &none          &none        &lalt_shift_tap N7 &lalt_tap N &none  &none  &none
                &trans &none      &none  &kp EQUAL     &kp LS(EQUAL) &none                     &none        &lalt_tap M  &none        &none    &none  &trans
                                      &trans &none &trans                     &trans &none &none
            >;
        };

        nav_layer {
            display-name = "NAV";
            bindings = <
                &kp ESC   &none      &kp HOME &kp UP   &kp END   &none         &none         &kp C_VOL_UP   &kp LC(Y) &kp N7    &kp N8    &kp N9    &kp LS(N0)    &trans
                &trans    &kp LC(A)  &kp LEFT &kp DOWN &kp RIGHT &kp LC(LS(V)) &trans        &kp C_VOL_DN   &kp LC(Z) &kp N4    &kp N5    &kp N6    &kp KP_PLUS   &kp KP_MULTIPLY
                &trans    &none      &kp LC(X) &kp LC(C) &kp LC(V) &kp LG(LS(S))                      &kp COMMA &kp N1    &kp N2    &kp N3    &kp KP_MINUS  &kp KP_DIVIDE
                                      &trans &none &trans                     &trans &kp N0 &kp DOT
            >;
        };

        mac_mods_layer {
            display-name = "MACMOD";
            bindings = <
                &trans &trans &trans &trans &trans &trans &trans        &trans &kp LG(LS(Z)) &trans &trans &trans &trans &trans
                &trans &kp LG(A) &trans &trans &trans &kp LG(LS(V)) &trans    &trans &kp LG(Z) &trans &trans &trans &trans &trans
                &trans &trans &kp LG(X) &kp LG(C) &kp LG(V) &trans                  &trans &trans &trans &trans &trans &trans
                                    &trans &trans &trans                  &trans &trans &trans
            >;
        };

        settings_layer {
            display-name = "SETTINGS";
            bindings = <
                &settings_exit &none    &none    &none    &none    &none &bootloader      &tog 7 &none &none &none &none &none &none
                &none          &bt_prof0 &bt_prof1 &bt_prof2 &bt_prof3 &bt_prof4 &sys_reset      &none &none &none &none &none &none &none
                &none          &bt BT_CLR  &none       &none       &none       &none                &none &none &none &none &none &none
                                    &none &none &none                  &none &none &none
            >;
        };
    };
};