/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 *
 * Ported from a QMK keymap.c (German ISO Corne Choc Pro, LAYOUT_split_3x6_3_ex2).
 * All RGB matrix / underglow logic from the QMK source has been dropped -
 * ZMK simply has no equivalent concept here, so there was nothing to "convert",
 * it's just omitted.
 *
 * Layer order: 0 base, 1 sym, 2 uml, 3 nav, 4 settings
 *
 * Modifier notes (kept 1:1 with the QMK source, since the actual German
 * characters come from your OS keyboard layout, not the firmware):
 *   QMK ALGR(kc)  -> ZMK RA(kc)   (right Alt / AltGr)
 *   QMK LSFT(kc)  -> ZMK LS(kc)
 *   QMK LCTL(kc)  -> ZMK LC(kc)
 *   QMK SGUI(kc)  -> ZMK LG(LS(kc))   (Win+Shift)
 *   QMK RCS(kc)   -> ZMK LC(LS(kc))   (Ctrl+Shift, e.g. "paste as text")
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    chosen {
        zmk,physical-layout = &default_layout;
    };
};

/ {
    macros {
        settings_enter: settings_enter {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            // Explicitly turn RGB ON and go to the settings layer
            bindings = <&rgb_ug RGB_ON>, <&to 4>;
        };

        settings_exit: settings_exit {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            // Explicitly turn RGB OFF and return to the base layer
            bindings = <&rgb_ug RGB_OFF>, <&to 0>;
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";

        // Hold TAB+ENT together to reach a small settings layer with BT
        // profile selection / bootloader / reset. Also turns LEDs on.
        combo_settings_layer {
            timeout-ms = <50>;
            key-positions = <0 43>;
            bindings = <&settings_enter>;
            layers = <0 4>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            display-name = "BASE";
            // -------------------------------------------------------------------------------------------------------------------
            // | TAB  |  Q  |  W  |  E  |  R  |  T  | LGUI |  | PSCR |  Y  |  U  |  I  |  O  |  P    | BSPC  |
            // | CTRL |  A  |  S  |  D  |  F  |  G  | DEL  |  | DEL  |  H  |  J  |  K  |  L  | NUHS  | MINUS |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |             |  N  |  M  | ,   | .   | /     | SHFT  |
            //                    | ALT | NAV | SPC |             | ENT | UML | SYM |
            bindings = <
                &kp TAB   &kp Q &kp W &kp E &kp R &kp T &kp LGUI    &kp PSCRN &kp Y &kp U &kp I     &kp O   &kp P    &kp BSPC
                &kp LCTRL &kp A &kp S &kp D &kp F &kp G &kp DEL     &kp DEL   &kp H &kp J &kp K     &kp L   &kp NUHS &kp MINUS
                &kp LSHFT &kp Z &kp X &kp C &kp V &kp B                      &kp N &kp M &kp COMMA &kp DOT &kp FSLH &kp RSHFT
                                      &kp LALT &sl 3 &kp SPACE               &kp RET &sl 2 &sl 1
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp PG_UP PG_DN &inc_dec_kp C_PREV C_NEXT &inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        sym_layer {
            display-name = "SYM";
            // F-keys + shifted number row (symbols) + AltGr NUBS row, same as QMK _SYM.
            bindings = <
                &trans &kp F1     &kp F2     &kp F3     &kp F4     &kp F5     &none          &none          &kp F6      &kp F7      &kp F8      &kp F9      &kp F10     &trans
                &trans &kp LS(N1) &kp LS(N2) &kp LS(N3) &kp LS(N4) &kp LS(N5) &none          &none          &kp LS(N6)  &kp LS(N7)  &kp LS(N8)  &kp LS(N9)  &kp LS(N0)  &none
                &trans &kp RA(NUBS) &none    &kp NUBS   &kp LS(NUBS) &none                      &kp RA(N7)  &kp RA(N0)  &kp RA(N8)  &kp RA(N9)  &none       &trans
                                      &trans &none &trans                     &trans &none &none
            >;
        };

        uml_layer {
            display-name = "UML";
            // German umlaut / special-character row, same as QMK _UML.
            bindings = <
                &trans &kp RA(Q)  &none  &kp RA(E)     &none         &none  &none          &none          &none        &kp LBKT     &none        &kp SEMI &none  &trans
                &trans &kp SQT    &none  &kp LS(GRAVE) &kp GRAVE     &none  &none          &none          &none        &kp RA(MINUS) &kp RA(RBKT) &none    &none  &none
                &trans &none      &none  &kp EQUAL     &kp LS(EQUAL) &none                     &none        &kp RA(M)    &none        &none    &none  &trans
                                      &trans &none &trans                     &trans &none &none
            >;
        };

        nav_layer {
            display-name = "NAV";
            // Cursor block, clipboard shortcuts and numpad, same as QMK _NAV.
            bindings = <
                &kp ESC   &none      &kp HOME &kp UP   &kp END   &none         &none         &kp C_VOL_UP   &kp LC(Y) &kp N7    &kp N8    &kp N9    &kp LS(N0)    &trans
                &trans    &kp LC(A)  &kp LEFT &kp DOWN &kp RIGHT &kp LC(LS(V)) &trans        &kp C_VOL_DN   &kp LC(Z) &kp N4    &kp N5    &kp N6    &kp KP_PLUS   &kp KP_MULTIPLY
                &trans    &none      &kp LC(X) &kp LC(C) &kp LC(V) &kp LG(LS(S))                      &kp COMMA &kp N1    &kp N2    &kp N3    &kp KP_MINUS  &kp KP_DIVIDE
                                      &trans &none &trans                     &trans &kp N0 &kp DOT
            >;
        };

        settings_layer {
            display-name = "SETTINGS";
            // Not present in the QMK source - ZMK needs somewhere to put BT
            // profile switching / bootloader / factory reset. Reached by holding
            // both thumb layer keys together (see combo_settings_layer above).
            bindings = <
                &settings_exit &none       &none       &none       &none       &none &bootloader      &none &none &none &none &none &none &none
                &none          &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &sys_reset      &none &none &none &none &none &none &none
                &none          &bt BT_CLR  &none       &none       &none       &none                &none &none &none &none &none &none
                                    &none &none &none                  &none &none &none
            >;
        };
    };
};